In [1]:
import pandas as pd
import os

In [2]:
# dirname = os.path.dirname(__file__)
path = os.path.join('2018/')

In [3]:
df = pd.concat([pd.read_csv(f) for f in os.scandir(path)], ignore_index = True)

In [4]:
len(df)

17902231

In [36]:
df2 = df.loc[df['birth year'] != 1969]

In [6]:
len(df2)

16215942

In [37]:
df2 = df2.loc[df2['birth year']>1930]

In [9]:
len(df2)

16201878

In [38]:
df2.sort_values(by=['tripduration'], ascending=False)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
476336,19510049,2018-01-22 18:20:27.5120,2018-09-05 14:47:56.8680,3082.0,Hope St & Union Ave,40.711674,-73.951413,144.0,Nassau St & Navy St,40.698399,-73.980689,30503,Customer,1953,1
1428944,15962256,2018-02-21 14:15:10.9320,2018-08-25 09:12:47.3860,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3245.0,NYCBS DEPOT - DELANCEY,40.716444,-73.982331,30875,Customer,1988,1
2187410,15020934,2018-03-15 18:21:38.8010,2018-09-05 14:50:33.4160,3041.0,Kingston Ave & Herkimer St,40.678907,-73.941428,3245.0,NYCBS DEPOT - DELANCEY,40.716444,-73.982331,16777,Customer,1984,2
1264434,13931824,2018-02-21 15:30:02.3880,2018-08-01 22:27:07.0940,3042.0,Fulton St & Utica Ave,40.679427,-73.929891,3432.0,NYCBS Depot - GOW,40.669060,-73.994637,16533,Customer,1988,1
1264344,13586276,2018-02-12 15:38:54.2330,2018-07-19 22:36:50.5980,3042.0,Fulton St & Utica Ave,40.679427,-73.929891,3245.0,NYCBS DEPOT - DELANCEY,40.716444,-73.982331,18504,Subscriber,1993,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8356587,61,2018-07-31 08:30:32.3770,2018-07-31 08:31:33.7180,461.0,E 20 St & 2 Ave,40.735877,-73.982050,461.0,E 20 St & 2 Ave,40.735877,-73.982050,27775,Subscriber,1993,1
13576117,61,2018-10-03 15:25:12.7270,2018-10-03 15:26:14.1830,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,212.0,W 16 St & The High Line,40.743349,-74.006818,18126,Subscriber,1985,1
10955628,61,2018-08-23 16:21:21.2590,2018-08-23 16:22:22.7740,3523.0,24 Ave & 29 St,40.772900,-73.916142,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,30661,Subscriber,1975,1
13159530,61,2018-09-27 14:25:43.3370,2018-09-27 14:26:44.6290,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,34702,Subscriber,1979,1
1588815,61,2018-03-31 12:13:42.1150,2018-03-31 12:14:43.7490,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,32522,Subscriber,1993,1

In [39]:
df2 = df2.loc[df2['tripduration']>300]

In [13]:
len(df2)

12993649

In [40]:
df2 = df2.loc[df2['tripduration']<86400]

In [43]:
len(df2)

12990564

In [41]:
df2['month']=df2['starttime'].astype('datetime64[M]').dt.month

In [42]:
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1,1
5,1602,2018-01-01 21:31:54.1920,2018-01-01 21:58:36.3530,72.0,W 52 St & 11 Ave,40.767272,-73.993929,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30106,Subscriber,1968,1,1

In [54]:
Jan = df2.loc[df2['month']==1]

In [55]:
Jan

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1,1
5,1602,2018-01-01 21:31:54.1920,2018-01-01 21:58:36.3530,72.0,W 52 St & 11 Ave,40.767272,-73.993929,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30106,Subscriber,1968,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17561006,705,2018-01-30 16:34:20.0470,2018-01-30 16:46:05.7640,3640.0,Journal Square,40.733670,-74.062500,3194.0,McGinley Square,40.725340,-74.067622,31870,Subscriber,1980,1,1
17561007,491,2018-01-30 17:30:26.4000,2018-01-30 17:38:38.3360,3640.0,Journal Square,40.733670,-74.062500,3281.0,Leonard Gordon Park,40.745910,-74.057271,29622,Subscriber,1972,1,1
17561012,806,2018-01-31 15:34:36.8370,2018-01-31 15:48:03.0280,3640.0,Journal Square,40.733670,-74.062500,3211.0,Newark Ave,40.721525,-74.046305,31842,Subscriber,1987,1,1
17561013,1499,2018-01-31 15:45:09.8000,2018-01-31 16:10:09.4400,3640.0,Journal Square,40.733670,-74.062500,3640.0,Journal Square,40.733670,-74.062500,29622,Subscriber,1981,1,1
17561015,383,2018-01-31 18:34:50.2950,2018-01-31 18:41:13.7530,3640.0,Journal Square,40.733670,-74.062500,3194.0,McGinley Square,40.725340,-74.067622,31690,Subscriber,1989,1,1

In [56]:
Jan = df2.loc[df2['month']==1]
Feb = df2.loc[df2['month']==2]
Mar = df2.loc[df2['month']==3]
Apr = df2.loc[df2['month']==4]
May = df2.loc[df2['month']==5]
Jun = df2.loc[df2['month']==6]
Jul = df2.loc[df2['month']==7]
Aug = df2.loc[df2['month']==8]
Sep = df2.loc[df2['month']==9]
Oct = df2.loc[df2['month']==10]
Nov = df2.loc[df2['month']==11]
Dec = df2.loc[df2['month']==12]

In [63]:
df2.to_csv('All2018.csv',index=False)

In [61]:
Jan.to_csv('Jan.csv',index=False)

In [62]:
Feb.to_csv('Feb.csv',index=False)
Mar.to_csv('Mar.csv',index=False)
Apr.to_csv('Apr.csv',index=False)
May.to_csv('May.csv',index=False)
Jun.to_csv('Jun.csv',index=False)
Jul.to_csv('Jul.csv',index=False)
Aug.to_csv('Aug.csv',index=False)
Sep.to_csv('Sep.csv',index=False)
Oct.to_csv('Oct.csv',index=False)
Nov.to_csv('Nov.csv',index=False)
Dec.to_csv('Dec.csv',index=False)

In [44]:
stations = df2['start station name'].value_counts()
top10starting = stations.head(10)
bottom10starting = stations.tail(10)

In [49]:
l = bottom10starting.index.to_list()

In [51]:
df3 = df2[~df2['start station name'].isin(l)]

In [52]:
stations2 = df3['start station name'].value_counts()
top10starting2 = stations2.head(10)
bottom10starting2 = stations2.tail(10)

In [60]:
bottom10starting2

Bressler                49
MLK Light Rail          42
Wyckoff St & Bond St    38
NJCU                    37
Bayside Park            33
West Side Light Rail    30
NYCBS Depot - RIS       28
Bethune Center          20
Columbia Park           13
Danforth Light Rail     11
Name: start station name, dtype: int64

In [64]:
df3.to_csv('All2018clean.csv',index=False)